:root {
    /* Colors */
    --first-color: #D50000;
    --second-color: #a30707;
    --third-color: #dddddd;
    --dark-color-alt: #111111;
    --dark-color: #000000;
    --light-color: #fff;
    --text-color: #777777;
    --text-color-alt: #333333;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
	padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
@media screen and (min-width: 540px) {
    body {
        font-size: 20px;
    }
}

img { /* imagenes responsives */
    max-width: 100%;
}

figure, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var();
    color: var();
    margin: 0;
}

/* ============================ Utilities ============================ */
/* quitar cualquier estilo por defecto */
.no-style {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
.container { /*aplicar despues del contenedor con bg*/
    margin: 0 auto;
    width: min(90vw, 85.375rem);   /* ancho contenido responsive, se tomará la menor medida entre 90% o 1366px*/
    outline: 1px solid #4bff03; /* con esta línea chequeamos que no se desborde el contenido de su contenedor*/
}
.align-center {
    display: block;
    text-align: center;
}
.mayor-text {
    text-transform: uppercase;
}
.min-text {
    text-transform: lowercase;
}
.capital-text {
    text-transform: capitalize;
}
.dark {
    color: var(--dark-color);
}

.light {
    color: var(--light-color);
}

.red {
    color: var(--first-color);
}

.grey {
    color: var(--text-color);
}
.margin-medium {
    margin: 0 10%;
}

.flex-center {
    display:flex;
    justify-content: center;
}

.head-section {
    padding: 9.375rem 0 0;
    text-align: center;
}

.h3-head {
    text-transform: uppercase;
    letter-spacing: .078125rem;
    font-weight: 600;
    font-size: 1.10rem;
}

.h2-head {
    padding-top: .3125rem;
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.65rem;
}

.hover:hover {
    color: var(--first-color);
}

.focus:focus {
    color: var(--first-color);
}

.p-section {
    padding: 15% 0 5%;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

.line-hor-light {
    margin: 0 auto;
    padding: 2.5% 0;
    width: 70%;
    border-bottom: .0625rem solid rgba(255, 255, 255, 0.45);
}

.line-hor-dark {
    margin: 0 auto;
    padding: 2.5% 0;
    width: 70%;
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.45);
}
@media screen and (min-width: 768px) {
    .h2-head {
        font-size: 2.65rem;
        line-height: 3.50rem;
    }
    .h3-head {
        font-size: 1.40rem;
    }
}

@media screen and (min-width: 1280px) {
    .h2-head {
        padding-top: .5rem;
        line-height: 5rem;
        font-size: 4rem;
    }
    .p-section {
        margin: 0 5rem;
        padding: 5% 0 5%;
    }
}

/* bg-parallax header */
.bg-image {
    background-image: linear-gradient(181deg, rgba(0, 0, 0, 1), #000000ca), url(../images/snake-skin-cobra.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position:relative;
    z-index:0;
    top: 0;
    left: 0;
    overflow:auto;
}

.bg-image::-webkit-scrollbar {
    background: transparent;
}

@media screen and (min-width: 768px) {
    .bg-image {
        height: 100vh;
    }
}

/* Navbar fixed */
.navbar {
    position: absolute;
    top: 0;
    z-index: 9999;
    height: 4.1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .625rem 5%;
}
.navbar-logo {
    max-width: min(9rem, 12.5rem);
}
@media screen and (min-width: 768px) {
    .navbar {
        height: 6rem;
    }
    .navbar-logo {
        max-width: min(12rem, 12.5rem);
    }
}
/* Style the navigation menu */
.topnav {
    position: absolute;
    top: 4.1rem;
    left:0;
    width: 100%;
    background-color: var(--first-color);
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
    padding-top: 3.2rem;
    height: 100vh;
}

/* Style navigation menu links */
.topnav li {
    color: var(--light-color);
    padding: 1rem;
    text-decoration: none;
    font-size: 1em;
    display: block;
    text-align: center;
}

a.menu-icon {
    display: block;
}
.menu-list__item {
    color:white;
}
/* Add a grey background color on mouse-over */
.topnav li:hover {
    background: #b82121b6;
}

/* Style the hamburger menu */
.menu-icon i {
    color: var(--light-color);
    font-size: 1.2em;
    padding: 1.25rem 5%;
    position: absolute;
    right:0;
    top: 0;
}

@media screen and (min-width: 768px) {
    .topnav {
        top: 6rem;
    }
    .topnav #myLinks {
        padding-top: 6rem;
    }
    .topnav li {
        padding: 2rem;
        text-decoration: none;
        font-size: 1.4em;
    }
    .menu-icon i {
        font-size: 1.5em;
        padding: 2rem 5%;
    }
}

/* links social media */
.social-list {
    display: flex;
    margin-top: 8rem;
    font-size: 1.1em;
    justify-content: center;
}

.social-list li:hover {
    background: none;
}
.social-list a:hover {
    color: var(--dark-color-alt);
}

@media screen and (min-width: 1024px) {
    .navbar {
        position: fixed;
        top: 0;
        height: 8rem;
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        width: 100%;
        padding: 1rem 2vw;
        background-image: linear-gradient(181deg, rgba(0, 0, 0, 1), #000000f3), url(../images/snake-skin-cobra.jpg);
        background-size:cover;
        background-position: top;
        background-repeat: no-repeat;
    }
    .navbar-logo {
        padding-top: 1rem;
        max-width: 23rem;
    }
    .topnav {
        position: unset;
        width: 100%;
        background-color: transparent;
    }
    .topnav #myLinks {
        display: block;
        padding: 0;
        height: 0;
    }
    /* Style navigation menu links */
    .menu-list {
        text-align: end;
    }
    .topnav li {
        color: var(--light-color);
        padding: 0 1.5rem 1rem;
        text-decoration: none;
        font-size: .95em;
        font-weight: normal;
        display: inline-block;
    }
    .topnav li:hover {
        background: none;
    }
    .menu-list__item:hover {
        color: var(--first-color);
        border-bottom: 2px solid var(--first-color);
        padding: 0 .5rem .5rem 0;
        transition: .5s;
    }
    a.menu-icon {
        display: none;
    }
    /* links social media */
    .nav-social {
        position: absolute;
        top: 20rem;
        right: 15px;
    }
    .social-list {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
    }
    .social-list li {
        padding-bottom: 2rem;

    }
    .social-list a:hover {
        color: var(--first-color);
    }
}

@media screen and (min-width: 1280px) {
    .navbar-logo {
        max-width: 17rem;
    }
    .topnav li {
        font-size: 1.2rem;
    }
    .nav-social {
        top: 25vh;
        right: 2.2rem;
    }
    .social-list a {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 1336px) {
    .navbar-logo {
        max-width: 15rem;
    }
    .topnav li {
        font-size: 1.2rem;
    }
    .nav-social {
        top: 18vh;
        right: 2.2rem;
    }
    .social-list a {
        font-size: 1.25em;
    }
}

/* section home */
.home-main {
    position: absolute;
    padding: 0 10vw;
    top: 20vh;
}
.home-main p {
    letter-spacing: 2px;
    font-size: .82em;
    font-weight: 500;
    padding-bottom: .5rem;
}
.home-main h1 {
    line-height: 1.40;
}

/* buttons border */
.main-button {
    padding-top: 2rem;
    position: relative;
    bottom: -7vh;
}

.btn-border {
    display: flex;
    flex-direction: column;
}

.btn-border a {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    padding: 6% 5%;
    border: .0625rem solid var(--light-color);
    text-align: center;
}
.btn-border a:hover {
    color: var(--dark-color);
    background-color: var(--light-color);
}
.scroll-box {
    display: none;
}
@media screen and (max-width: 280px) {
    .home-main h1 {
        line-height: 1.5;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 360px) {
    .main-button {
        padding-top: .65rem;
    }
    .btn-border a {
        font-size: .85em;
    }
    .btn-border a {
        font-size: .8em;
        padding: 5% 5%;
    }
}
@media screen and (min-width: 540px) {
    .main-button {
        padding-top: .85rem;
    }
    .btn-border a {
        font-size: .85em;
    }
    .btn-border a {
        font-size: .8em;
        padding: 5% 5%;
    }
}
@media screen and (min-width: 768px) {
    .home-main p {
        font-size: 1em;
        padding-bottom: 1rem;
    }
    .home-main h1 {
        line-height: 1.40;
        font-size: 3.5rem;
    }
    .btn-border a {
        font-size: 1.13rem;
        padding: 5% 5%;
    }
}
@media screen and (min-width: 1024px) {
    .home-main {
        width: 85%;
        top: 25vh;
    }
    .home-main h1 {
        line-height: 1.6;
        font-size: 4rem;
    }
    .main-button {
        position: initial;
        padding: 15rem 0 5rem;
    }
    .btn-border {
        display: flex;
        flex-direction: row;
    }
    .btn-border a {
        margin: 0 1rem;
        font-size: 1rem;
        letter-spacing: 5px;
        padding: 4.75% 5%;
        border: .095rem solid var(--light-color);
    }
    /* scroll down */
    .scroll-box {
        margin-top: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        right: -60px;
    }
    .scroll-text {
        padding-right: 1rem;
        font-size: 1.15rem;
        letter-spacing: 2px;
        font-weight: bold;
        cursor: pointer;
    }
    .scroll-text i {
        padding-right: 2rem;
        color: var(--first-color);
    }
    .line-vertical {
        /* margin-top: 20rem; */
        border-right: 3px solid var(--first-color);
        height: 10rem;
    }
}

@media screen and (min-width: 1280px) {
    .home-main {
        top: 35vh;
    }
    .home-main p {
        letter-spacing: 5px;
        font-size: 1em;
        padding-bottom: .75rem;
    }
    .home-main h1 {
        line-height: 1.8;
    }
    .main-button {
        position:initial;
        padding: 5rem 0;
    }
    .btn-border a {
        margin-bottom: 1rem;
        width: 100%;
        font-size: 1em;
        font-weight: 500;
        padding: 4% 5%;
        border: .0625rem solid var(--light-color);
        text-align: center;
    }
    .scroll-text {
        font-size: 1rem;
        padding-right: 1rem;
        letter-spacing: 5px;
        font-weight: 400;
    }
}
@media screen and (min-width: 1336px) {
    .home-main {
        top: 40vh;
    }
    .home-main p {
        padding-bottom: .5rem;
    }
    .home-main h1 {
        font-size: 3.45rem;
        width: 100%;
    }
    .main-button {
        padding: 10rem 0;
    }
    .btn-border a {
        width: 40%;
        font-size: .75em;
        padding: 3% 3%;
        border: .0625rem solid var(--light-color);
        text-align: center;
    }
    .scroll-text {
        font-size: 1rem;
    }
}
@media screen and (min-width: 1440px) {
    .home-main h1 {
        font-size: 4rem;
        width:100%;
    }
    .main-button {
        padding: 15rem 0;
    }
    .btn-border a {
        width: 30%;
        font-size: .75em;
        padding: 3% 3%;
        border: .0625rem solid var(--light-color);
        text-align: center;
    }
    .scroll-box {
        right: -150px;
    }
    .scroll-text {
        font-size: .75rem;
        padding-right: 1rem
    }
}

/* ===================================================================
* ##  about section
*------------------------------------------------------------------- */
.about-main {
    background-color: var(--first-color);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.h2-princ {
    align-self: center;
    text-transform: capitalize;
    font-size: 2.25rem;
}

.about-content {
    flex-direction: column;
    padding-bottom: 10%;
}

.about-stats {
    margin-bottom: .9375rem;
    padding-bottom: .625rem;
    align-self: center;
    width: 80%;
    border-bottom: .0625rem solid hsla(0, 0%, 100%, 0.472);
}

.about-stats h5 {
    margin-bottom: .3125rem;
    padding: 3% 0;
    font-size: 1.25rem;
    letter-spacing: 0.10rem;
}

.counter {
    padding-top: 1.25rem;
    font-size: 7rem;
    font-weight:bold;
    text-align:center;
}


@media screen and (min-width: 768px) {
    .h2-princ {
        font-size: 3.75rem;
    }

    .about-content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about-stats {
        margin-bottom: 0;
        padding-bottom: 0;
        align-self: stretch;
        justify-content: start;
        width: 40%;
        border: none;
    }

    .border-right {
        border-right: .0625rem solid hsla(0, 0%, 100%, 0.472);
    }
}

@media screen and (min-width: 1024px) {
    .h2-princ {
        font-size: 4.5rem;
    }
    .about-content {
        flex-wrap: nowrap;
    }
    .counter {
        font-size: 6rem;
    }
}

@media screen and (min-width: 1400px) {
    .h2-princ {
        font-size: 5rem;
    }
}

.flex-center img {
    align-self: center;
    width: 35%;
}

/*===================================================================
* ##  services section
*------------------------------------------------------------------- */
.services-main {
    background-color: var(--light-color);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15% 0 3%;
}

.box-services {
    text-align: center;
    width: 80%;
    padding-bottom: 15%;
}

.box-services h3 {
    text-transform: capitalize;
    margin: 5% 0 3%;
    font-size: 1.60rem;
    color: var(--text-color-alt);
}

.box-services p {
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: .15;
    color: var(--text-color-alt);
}

.icon-serv {
    font-size: 4rem;
}

@media screen and (min-width: 768px) {
    .box-services h3 {
        font-size: 2.5rem;
    }

    .box-services p {
        font-size: 1.60rem;
        line-height: 3rem;
    }

    .icon-serv {
        font-size: 6rem;
    }
}

@media screen and (min-width: 1024px) {
    .services-content {
        margin: 0 7rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding:10% 0 3%;
    }

    .box-services {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 42%;
        padding-bottom: 10%;
    }

    .serv {
        text-align: left;
        /* padding-right: 10%;
        padding-left: 5%; */
    }

    .box-services h3 {
        margin-bottom: 5%;
        font-size: 1.75rem;

    }

    .box-services p {
        font-size: 1.15rem;
        line-height: 2rem;
    }

    .icon-serv {
        font-size: 3.80rem;
        padding-right: 5%;
    }
}

/*===================================================================
* ##  works section
*------------------------------------------------------------------- */
.projects-main {
    background-color: var(--dark-color-alt);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.projects-content {
    padding-top: 10%;
}
.r1-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--dark-color);
}

.box {
    height: 25rem;
    width: 100%;
}
.box-1 {
    background: #777777;
}
.box-2 {
    background: #cf0606;
}
.box-3 {
    background: #04c2a9;
}
.box-4 {
    background: #d6d306;
}
.box-5 {
    background: #07e475;
}
.box {
    position: relative;
}
/* Styles box image */
.container-project {
    position: relative;
}
.project-image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    /* filter: grayscale(85%); */
}
.container-project:hover .project-image{
    filter: grayscale(0);
    transition: .5s ease;
}
.text-project {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 6rem;
    padding: .5rem;
    background: rgb(39, 39, 39);
    transition: .5s ease;
    opacity: 0;
}

.container-project:hover .text-project{
    opacity: 1;
}
.project-title {
    text-transform: uppercase;
    color: var(--third-color);
    padding: .5rem 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .5px;
    text-align: right;
}
.project-link {
    color: var(--first-color);
    font-size: 1.1rem;
    font-weight: 500;
    text-align: right;
    display: block;
    padding-right: 1rem;
}


@media screen and (min-width: 540px) {
    .box {
        height: 30rem;
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .box {
        height: 40rem;
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .box {
        height: 30rem;
    }
    .r1-projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1200px) {
    .box {
        height: 37rem;
    }
    .r1-projects {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .project-image {
        filter: grayscale(85%);
    }
}
@media screen and (min-width: 1300px) {
    .box {
        height: 30rem;
    }
    .r1-projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "foto1 foto2 foto3"
            "foto4 foto5 foto5";
        gap:.5rem;
    }
    .box-1 {
       grid-area: foto1;
    }
    .box-2 {
        grid-area: foto2;
    }
    .box-3 {
        grid-area: foto3;
    }
    .box-4 {
        grid-area: foto4;
    }
    .box-5 {
        grid-area: foto5;
    }
    .project-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center 45%;
    }
}







/*===================================================================
* ##  contact section
*------------------------------------------------------------------- */
.contact-main {
    background-image: linear-gradient(181deg, rgba(0, 0, 0, 1), hsla(0, 0%, 0%, 0.808)), url(../images/workspace_kobra.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--dark-color);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.contact-content {
    padding: 20% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box {
    padding-bottom: 20%;
    width: 85%;
}

.center {
    text-align: center;

}

.h3-form {
    text-align: center;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    font-size: 1.20rem;
    padding: 0 0 6rem;
}

.h5-form {
    letter-spacing: .0625rem;
    text-transform: capitalize;
    font-size: 1.18rem;
    padding: 0 0 2rem;
}

.p-form {
    letter-spacing: .03125rem;
    font-size: 1.15rem;
    line-height: 2.5rem;
}

.input-contact {
    margin: 0 0 1.875rem;
    border-width: 0rem 0rem .125rem;
    width: 100%;
    height: 2.5rem;
    outline: none;
    background-color: transparent;
    color: var(--third-color);
    font-size: 1.15rem;
}

.input-contact:focus {
    border-bottom-color: var(--first-color);
}

.message {
    height: auto;
}

.sub-form {
    margin: 0;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1.40rem;
    font-weight: 600;
}

input[type="submit"].sub-form {
    text-transform: uppercase;
    background-color: var(--first-color);
    color: var(--light-color);
    cursor: pointer;
    width: 100%;
    height: 4.80rem;
}

input[type="submit"].sub-form:hover {
    background-color: var(--second-color);
}

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.c-info {
    text-align: center;
    padding-bottom: 6rem;
    width: 85%;
}

.list-social {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 1.75rem;
}

.list-social i {
    padding: 0 0.75rem;
}


@media screen and (min-width: 768px) {

    .h3-form {
        text-align: center;
        letter-spacing: .0625rem;
        text-transform: uppercase;
        font-size: 1.50rem;
        padding: 0 0 6rem;
    }

    .input-contact {
        height: 5rem;
        font-size: 1.55rem;
    }

    .message {
        height: 15rem;
    }

    .h5-form {
        font-size: 1.55rem;
        padding: 0 0 4rem;
    }

    .p-form {
        letter-spacing: .03125rem;
        font-size: 1.45rem;
        line-height: 2.8rem;
    }
}

@media screen and (min-width: 1024px) {
    .contact-content {
        margin: 0 6.25rem;
        padding: 10% 0 10%;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    /* box left */

    .form-box {
        padding: 0 2.1875rem;
        width: 60%;
        background-color: rgba(0, 0, 0, 0.493);
        height: 55rem;
    }

    .input-contact {
        margin: 0 0 2rem;
        border-width: 0rem 0rem .125rem;
        height: 4.5rem;
        font-size: 1.25rem;
    }

    .message {
        height: 14rem;
    }

    .sub-form {
        letter-spacing: .03125rem;
        font-size: 1.25rem;
    }
    
    input[type="submit"].sub-form {
        width: 100%;
        height: 4.25rem;
    }

    /* box right */

    .form-contact {
        background-color: var(--dark-color-alt);
        align-items: unset;
        width: 30%;
        height: 55rem;
    }

    .c-info {
        padding-left: 2.1875rem;
        text-align: left;
        padding-bottom: 3rem;
        width: unset;
    }

    .h3-form {
        display: block;
        margin: 0 auto;
        letter-spacing: .0625rem;
        font-size: 1.10rem;
        padding: 2rem 0 4rem;
    }

    .h5-form {
        letter-spacing: .03rem;
        font-size: 1.10rem;
        padding: 0 0 1.80rem;
    }

    .p-form {
        letter-spacing: .02rem;
        font-size: 1.1rem;
        line-height: 2.55rem;
    }

    .list-social {
        padding-left: 35px;
        justify-content: flex-start;
        list-style-type: none;
        font-size: 1.40rem;
    }

}

@media screen and (min-width: 1280px) {
    .contact-content {
        margin: 0 8rem;
    }

    /* box left */
    .input-contact {
        font-size: 1.10rem;
    }

    .sub-form {
        font-size: 1rem;
    }

    input[type="submit"].sub-form {
        height: 4rem;
    }
}

/*===================================================================
* ##  footer
*------------------------------------------------------------------- */
.footer-container {
    background-color: var(--dark-color);
}

.footer-main {
    padding: 5.625rem 0 3.4375rem;
    display: flex;
    flex-direction: column;
}

.footer-about img {
    width: 70%;
    padding-bottom: 5%;
}

.footer-subscription h4 {
    font-size: 1.20rem;
}

.text-footer {
    padding-top: 5%;
    padding-bottom: 10%;
    text-align:left;
    line-height: 1.875rem;
    font-size: 1.15rem;
}

/* Form-subsc */
.input-footer {
    align-items: center;
    flex-direction: column;
}

.input-subsc {
    margin: 0;
    outline: none;
    border: none;
    text-align: center;
    width: 95%;
    height: 4.5rem;
    font-size: 1.25rem;
    color: var(--light-color);
    background-color: var(--dark-color-alt);
}

input[type="submit"].input-subsc {
    text-transform: uppercase;
    background-color: var(--first-color);
    color: var(--light-color);
    cursor: pointer;
}

input[type="submit"].input-subsc:hover {
    background-color: var(--second-color);
}

.copyright {
    background-color: var(--dark-color-alt);
    height: 6rem;
    letter-spacing: .01875rem;
}

.copyright span {
    padding: 2rem 0 3rem;
    color: var(--text-color)
}

.copyright a {
    font-size: .90rem;
    text-decoration: none;
    font-weight: 400;
}

/* -------------------------------------------------------------------
* ##  footer breakpoints
*------------------------------------------------------------------- */

@media screen and (min-width: 768px) {
    .text-footer {
        padding-top: 5%;
        text-align:left;
        line-height: 1.95rem;
        font-size: 1.20rem;
    }

    .footer-subscription h4 {
        font-size: 1.40rem;
    }

    .footer-about img {
        display: block;
        /* margin: 0 auto; */
        width: 55%;
        padding-bottom: 5%;
    }

    .input-footer {
        justify-content: center;
        flex-direction: row;
        margin: 0;
    }

    input[type="submit"].input-subsc {
        width: 30%;
    }

    .icon-email {
        position: absolute;
        left: 13%;
        color: var(--light-color);
        font-size: 1.50rem;
    }

}

@media screen and (min-width: 1024px) {

    .footer-main {
        margin: 0 6.25rem;
        flex-direction: row;
        justify-content: center;
        align-items:top;
    }

    .text-footer {
        padding-top: 3%;
        text-align:left;
        line-height: 1.95rem;
        font-size: 1.08rem;
    }

    .footer-subscription h4 {
        padding-top: 8%;
        padding-bottom: 11%;
        font-size: 1.25rem;
    }

    .footer-subscription {
        width: 40%;
    }

    .footer-about {
        padding-right: 5%;
        width: 40%;
    }

    .footer-about img {
        display: block;
        margin: 0;
        width: 70%;
        padding-bottom: 5%;
    }

    .input-subsc {
        font-size: 1rem;
    }

    .icon-email {
        left: 52%;
    }
}

@media screen and (min-width: 1280px) {

    .footer-main {
        margin: 0 6.25rem;
        flex-direction: row;
        justify-content: center;
        align-items:top;
    }

    .text-footer {
        padding-top: 3%;
        text-align:left;
        line-height: 1.95rem;
        font-size: .90rem;
    }

    .footer-subscription h4 {
        padding-top: 8%;
        padding-bottom: 11%;
        font-size: 1.25rem;
    }

    .footer-subscription {
        width: 40%;
    }

    .footer-about {
        padding-right: 5%;
        width: 40%;
    }

    .footer-about img {
        display: block;
        margin: 0;
        width: 70%;
        padding-bottom: 5%;
    }

    .input-subsc {
        font-size: 1rem;
    }

    .icon-email {
        left: 52%;
    }
}